#imgreg {

  height: 225px;
  width: 225px;
  color: black;

}
/*!*}*!*/
#hedreg{
  font-family: "fantasy";
  /*font-size: 30px;*/
  text-align: center;

  /*margin-left: 85px;*/

}
/*#mainimg{*/
  /*background-image: url("m.jpg");*/
  /*width: 200px;*/
  /*height: 200px;*/
  /*margin-left: 30px;*/
  /*padding-left: 0px;*/
  /*padding-top: 0px;*/
  /*margin-top: 0px;*/
  /*position: absolute;*/
/*}*/
#con1{
  background-image: url("ticketingbg.jpg");
  /*margin-bottom: 20px;*/
  /*margin-top: 20px;*/
  width: 1366px;
  height: 850px;
  /*margin-left: 0px;*/
  margin-bottom:30px;
  /*margin-right: 0px;*/
  /*position: absolute;*/
}
