<div class="container" id="conImg">
  <br>
  <h1 id="h1"> Department Login Form</h1>

  <br>
  <br>
  <div class="form-control" id="attributeDiv">

    <br>
    Email  :
    <br>
    <input class="form-control" type="email"placeholder="name@gmail.com" id="emailInput">
  <br>

    Password  :
    <br>
    <input class="form-control" type="password"placeholder="************" id="passwordInput">

    <br>

    <button type="button" class="btn btn-block btn btn-outline-primary"  >Login</button>

<br>
    <a routerLink = "/...."><span id="frogotId" >Frogot Your password...?</span></a>


<br>
    <br>
      <a routerLink = "/departmentregistration" activeLink = "active"><button type="button" class="btn btn-outline-danger" id="signup">Sign up</button></a>




</div>
</div>
