

<div class="container" id="main" style="margin-top: 20px;margin-bottom: 20px;">
  <div id="hedimg"></div>
  <header >
    <div >Department Login Form</div>
  </header>
  <nav>
    <div id="img"></div>
  </nav>
  <article id="art" >
   <div class="form-control" style="background-color: transparent;color: black;">
          <br>
          <br>
          Email  :
          <input type="email" class="form-control" placeholder="name@gmail.com">
          <br>
          Password  :
     <input type="password" class="form-control" placeholder="*******************">
          <br>
          <br>
   </div>
    <br>
    <button type="button" class="btn btn-outline-primary" id="btn">Login</button>
    <br>
    <span style=" font-family: Arial;margin-left: 190px"><a href="">Forgot your password?</a></span>
    <br>
    <div style="text-align: center;font-size: 20px;font-family:'Arial Black' ;color: green">or</div>
    <a routerLink="/departmentregistration" routerLinkActive="active"><button type="button" class="btn btn-outline-danger" id="btnsig">Sign up</button></a>
  </article>
  <footer ></footer>

</div>
