<form id="frmExSche" class="form-horizontal" role="form">
  <div>
    <div id="userSchdiv">
      <h2 id="urid">Exam Schedule</h2>
    </div>
    <br>
    <div class="container">
      <p class="form-group">
        <label>Exam ID: </label>
        <input class="form-control" name="examID" placeholder="Enter exam ID" style="height:30px; width:500px"  value="">
      </p>

      <p class="form-group">
        <label>Exam Name:</label>
        <input class="form-control " name="examName" placeholder="Enter user exam Name" style="height:30px; width:500px" value="">
      </p>

      <p class="form-group">
        <label>Description:</label>
        <input class="form-control " name="examDescription" placeholder="Enter user Description" style="height:30px; width:500px" value="">
      </p>

      <p class="form-group">
        <label>Date:</label>
        <input type="date"class="form-control " name="examDate" placeholder="Enter user Address" style="height:30px; width:500px" value="">
      </p>

      <p class="form-group">
        <label>Starting Time:</label>
        <input class="form-control " name="examStartingTime" placeholder="Enter Exam Starting Time" style="height:30px; width:500px" value="">
      </p>

      <p class="form-group">
        <label>Ending Time:</label>
        <input class="form-control " name="examEndingTime" placeholder="Enter Exam Ending Time" style="height:30px; width:500px" value="">
      </p>

      <p class="form-group">
        <label>Duration:</label>
        <input class="form-control " name="examDuration" placeholder="Enter Exam Duration" style="height:30px; width:500px" value="">
      </p>

      <p>
        <button id="btnAddSchedule" type="button" class="btn btn-primary">Add Exam Schedule</button>
      </p>
      <blockquote class="blockquote-reverse"><p>
        &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
        &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
        &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
        &nbsp;&nbsp;  &nbsp;&nbsp;
        <button id="btnViewSchedule" type="button" class="btn btn-danger">View ExamSchedule</button>
      </blockquote>
    </div>
  </div>
</form>
