<form id="formSubject" class="form-horizontal" role="form">
  <div>
    <div id="sub">
      <h2 id="topic">Manage Subjects</h2>
    </div>
    <br>
    <div class="container">
      <div id="maindiv">
        <p class="form-group">
          <label class="lbl">Subject ID: </label>
          <input class="form-control" name="subId" placeholder="Enter subject ID" value="">
        </p>

        <p class="form-group">
          <label class="lbl">Subject:</label>
          <input class="form-control " name="subject" placeholder="Enter subject" value="">
        </p>

        <p class="form-group">
          <label class="lbl">Lecturer:</label>
          <input class="form-control " name="lecturer" placeholder="Enter lecturer" value="">
        </p>

        <p class="form-group">
          <label class="lbl">Date:</label>
          <input class="form-control " name="Date" value="">
        </p>

        <p class="form-group">
          <label class="lbl">Modules:</label>
          <input class="form-control " name="modules" placeholder="How many modules" value="">
        </p>

        <p class="form-group">
          <label class="lbl">Module 1:</label>
          <input class="form-control " name="module1" placeholder="Enter module1" value="">
        </p>

        <p class="form-group">
          <label class="lbl">Module 2:</label>
          <input class="form-control " name="module2" placeholder="Enter module2" value="">
        </p>

        <p class="form-group">
          <label class="lbl">Module 3:</label>
          <input class="form-control " name="moodule3" placeholder="Enter module3" value="">
        </p>

        <p class="form-group">
          <label class="lbl">Content:</label>
          <textarea class="form-control" name="content" placeholder="ContentID" rows="2"></textarea>
        </p>
        <br>

        <p>
          <button id="btnAddSubject" type="button" class="btn btn-primary">Add Subject</button>
        </p>
      </div>
      <br>
      <br>
    </div>
  </div>
</form>
