/* You can add global styles to this file, and also import other style files */

#frmExSche{
  background: url(10.jpg)no-repeat center top;

}

#mainCon{
  margin-bottom: 20px;
}

#urid{
  margin-bottom: 20px;
  padding-bottom: 9px;
  border-bottom: 1px solid #eee;
  font-family: 'Raleway', sans-serif;
  color: darkslateblue;
}
#btnViewSchedule{
  left: 500px;
}
main{
  min-height: 100%;
}

/*
 * Sidebar
 */

/*.sidebar {*/
/*position: fixed;*/
/*top: 51px;*/
/*bottom: 0;*/
/*left: 0;*/
/*z-index: 1000;*/
/*padding: 20px;*/
/*overflow-x: hidden;*/
/*overflow-y: auto; !* Scrollable contents if viewport is shorter than content. *!*/
/*border-right: 1px solid #eee;*/
/*}*/

/* Sidebar navigation */
.sidebar {
  padding-left: 0;
  padding-right: 0;
}

.agileinfo-social-grids{
  text-align:center;
}
.agileinfo-social-grids ul {
  padding: 0;
  margin: 0;
}
.agileinfo-social-grids ul la {
  color: #FFFFFF;
  text-align: center;
  display: inline-block;
  margin: 0 .5em 0 0;
}
.agileinfo-social-grids ul  a i.fa{
  height: 30px;
  width: 30px;
  border: solid 2px rgba(255, 255, 255, 0.3);
  line-height: 29px;
  background: none;
  color: #FFFFFF;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}
.agileinfo-social-grids ul a i.fa.fa-facebook:hover {
  border: solid 2px #3b5998;
  background:#3b5998;
  color: #FFFFFF;
}
.agileinfo-social-grids ul  a i.fa.fa-twitter:hover{
  border: solid 2px #55acee;
  background:#55acee;
  color: #FFFFFF;
}
.agileinfo-social-grids ul  a i.fa.fa-rss:hover{
  border: solid 2px #f26522;
  background:#f26522;
  color: #FFFFFF;
}
.agileinfo-social-grids ul  a i.fa.fa-vk:hover{
  border: solid 2px #45668e;
  background:#45668e;
  color: #FFFFFF;
}
.agileinfo-social-grids ul  a i.fa.fa-linkedin:hover{
  border: solid 2px #0077b5;
  background:#0077b5;
  color: #FFFFFF;
}
.agileinfo-social-grids ul  a i.fa.fa-dribbble:hover{
  border: solid 2px #ea4c89;
  background:#ea4c89;
  color: #FFFFFF;
}
.pom-agile {
  position: relative;
}
input.pass {
  margin-top: .7em;
}

.placeholders {
  padding-bottom: 3rem;
}

.placeholder img {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

footer img{
  width: 150px;
}
footer div{
  text-align: center;
}
.form-wrapper {
  width:300px;
  height:460px;
  position: absolute;
  top: 50%;
  left: 48%;
  margin: -184px 0px 0px -155px;
  background: rgba(0,0,0,0.27);
  padding: 15px 25px;
  border-radius: 5px;
  box-shadow: 0px 1px 0px rgba(0,0,0,0.6),inset 0px 1px 0px rgba(255,255,255,0.04);
}

#userSchdiv{
  width: 50%;
  margin: 0 auto;
  /*background-color: ;*/
  color: #757575;
  /*font-family: 'Raleway', sans-serif;*/
  /*text-align: left;*/
  cpadding: 30px;
  font-size: 20px;
}
/*h2 {*/
/*font-size: 100px;*/
/*font-weight: 600;*/
/*margin-bottom: 10px;*/
/*}*/
#urid{
  font-size: 50px;
}
.container {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
  padding-top: 10px;
}

.send-button {
  text-align: center;
  margin-top: 20px;
}

a.logout{float: right;}
p.success{color:#34A853;}
p.error{color:#EA4335;}


.sub-w3l h6 a {
  font-size: .9em;
  color: #fff;
  letter-spacing: 1px;
  text-align: right;
  display: inherit;
}
.sub-w3l {
  margin-top: 1em;
}

/*--header--*/
.header-w3l {
  padding-top: 2em;
}
.header-w3l h1 {
  font-size: 3em;
  color: white;
  letter-spacing: 8px;
  font-weight: 500;
  font-family: 'Dosis', sans-serif;
  text-transform: uppercase;
  text-shadow: 5px 3px 5px #101010;
}
/*--//header--*/

/*--main--*/
.wthree-pro h2 {
  font-size: 1.2em;
  color: #fff;
  letter-spacing: 4px;
  margin-bottom: 1.5em;
  text-transform: uppercase;
}

.sub-main-w3 {
  width: 26%;
  margin: 10em auto 12em;
}
.sub-w3l h6 a {
  font-size: .9em;
  color: #fff;
  letter-spacing: 1px;
  text-align: right;
  display: inherit;
}
.sub-w3l {
  margin-top: 1em;
}
.right-w3l {
  margin-top: 2em;
}
.pom-agile {
  position: relative;
}
input.pass {
  margin-top: .7em;
}
span.icon1, span.icon2 {
  color: #0d8cc6;
  font-size: 1.1em;
  position: absolute;
  right: 6%;
}
span.icon1 {
  top: 23%;
}
span.icon2 {
  top: 34%;
}

/*--responsive--*/

@media(max-width: 1680px){

}
@media(max-width: 1600px){

}
@media(max-width: 1440px){
  .footer {
    padding-bottom: 3em;
  }
  .sub-main-w3 {
    width: 29%;
    margin: 7em auto 9em;
  }
}
@media(max-width: 1366px){

}
@media(max-width: 1280px){

}
@media(max-width: 1080px){
  .sub-main-w3 {
    width: 35%;
  }
}
@media(max-width: 1050px){

}
@media(max-width: 1024px){
  .sub-main-w3 {
    width: 38%;
  }
}
@media(max-width: 991px){

}
@media(max-width: 900px){
  .header-w3l {
    padding-top: 1.5em;
  }
  .sub-main-w3 {
    width: 42%;
    margin: 6em auto 8em;
  }
  .footer {
    padding-bottom: 2.5em;
  }
}
@media(max-width: 800px){
  .header-w3l h1 {
    font-size: 2.7em;
    letter-spacing: 7px;
  }
}
@media(max-width: 768px){
  .header-w3l {
    padding-top: 4.5em;
  }
  .sub-main-w3 {
    width: 50%;
    margin: 10em auto 16em;
  }
}
@media(max-width: 736px){
  .header-w3l {
    padding-top: 1.5em;
  }
  .sub-main-w3 {
    margin: 5em auto 6.5em;
  }
}
@media(max-width: 667px){
  .footer {
    padding-bottom: 2em;
  }
}
@media(max-width: 640px){

}




/*--//responsive--*/
